
@media (max-width:767px){
  body{
    .header{
      .container_header{
        flex-direction: column;
        padding: .2em;
      }
    }
    .info{
      flex-direction: column;
      gap: 20px;
      .container-info{
        width: 90%;

      }
    }
    .galeria{
      justify-content: center;
      a{
        .item-galery{
          opacity: 1;
        }
      }
    }
    #galeria-relleno{
      display: none;
    }
    .contacto{
      form{
        width: 80%;
      }
    }
  }

}
