/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@100;300;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Imperial+Script&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
@keyframes type {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:visited, a:hover, a:focus {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

@font-face {
  font-family: "helve";
  src: url("../fonts/helveticaneuethn.ttf") format("truetype");
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body .navbar .container-fluid a img {
  height: 25px;
}
body .header {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.681);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/fondo-header1.jpg");
  background-size: cover;
  filter: grayscale(100);
  position: relative;
}
body .header .container_header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2em;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  font-size: 2em;
  top: 30vh;
  gap: 10px;
}
body .header .container_header .logoIzq {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .header .container_header .logoIzq .logo {
  height: 4em;
  width: 4em;
  transition: 500ms;
}
body .header .container_header .logo:hover {
  filter: invert(1);
  transition: 500ms;
}
body .info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5%;
  justify-content: center;
  margin: 0 5%;
  padding: 5%;
}
body .info .container-info {
  width: 35%;
}
body .info .container-info .title-info, body .info .container-info .content-info {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 2em;
  padding: 5px;
}
body .info .container-info .barra {
  border-top: 2px solid rgb(0, 0, 0);
  width: 15%;
}
body .info .container-info .content-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95em;
  font-weight: 200;
  line-height: 2.5em;
  color: grey;
}
body .galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: space-between;
  padding: 3%;
}
body .galeria a {
  margin: 20px 0;
  text-decoration: none;
}
body .galeria a .item-galery {
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  transition: 500ms;
  opacity: 0.5;
  display: flex;
  align-items: flex-end;
}
body .galeria a .item-galery:hover {
  opacity: 1;
  transition: 500ms;
}
body .galeria a .project-name {
  color: black;
  font-family: "Raleway", sans-serif;
  text-align: left;
  padding: 20px 0;
  font-size: 12px;
}
body .galeria a #gal1 {
  background-image: url("../img/galeria/gal1-taller_a77_siddi.jpg");
}
body .galeria a #gal2 {
  background-image: url("../img/galeria/gal2-allen-kent.jpg");
}
body .galeria a #gal3 {
  background-image: url("../img/galeria/gal3-sankey.jpg");
}
body .galeria a #gal4 {
  background-image: url("../img/galeria/gal4-hermes.jpg");
}
body .galeria a #gal5 {
  background-image: url("../img/galeria/gal5.jpg");
}
body .galeria a #gal6 {
  background-image: url("../img/galeria/gal6-lobos.jpg");
}
body .galeria a #gal7 {
  background-image: url("../img/galeria/gal7.jpg");
}
body .contacto {
  background-image: url("../img/fondo-banner.jpg");
  filter: grayscale(1);
  background-size: cover;
  background-position: center 25%;
  height: 40vh;
  display: flex;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
body .contacto form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 25%;
}
body .contacto form .campo {
  width: 100%;
}
body .contacto form .campo h3 {
  text-align: center;
}
body .contacto form .campo .input {
  width: 100%;
  height: 30px;
  padding: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  transition: 500ms;
  border: none;
}
body .contacto form .campo .input:hover, body .contacto form .campo .input:focus {
  background-color: white;
  transition: 500ms;
}
body .contacto form .campo .email {
  height: 40px;
}
body .contacto form .campo .mensaje {
  height: 120px;
  resize: none;
}
body .contacto form button {
  padding: 5px 15px;
  border: 2px solid white;
  background-color: rgb(210, 210, 210);
  color: white;
  transition: 500ms;
}
body .contacto form button:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  transition: 500ms;
  cursor: pointer;
}
body .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
body .footer .redes {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}
body .footer .redes a svg {
  height: 30px;
  color: black;
}
body .footer .datosFooter {
  text-align: center;
  margin-top: 20px;
}
body .footer .datosFooter h4 {
  font-size: 13px;
}
body .footer .datosFooter h5 {
  font-size: 10px;
  color: grey;
}

/*  body{
  .header-projects{
    margin-top: 50px;

    h1{
      color: black;
    }
  }


}

 */
@media (max-width: 767px) {
  body .header .container_header {
    flex-direction: column;
    padding: 0.2em;
  }
  body .info {
    flex-direction: column;
    gap: 20px;
  }
  body .info .container-info {
    width: 90%;
  }
  body .galeria {
    justify-content: center;
  }
  body .galeria a .item-galery {
    opacity: 1;
  }
  body #galeria-relleno {
    display: none;
  }
  body .contacto form {
    width: 80%;
  }
}/*# sourceMappingURL=main.css.map */